.search{
     height:40%;
     background-image: url("../Home/farmers1.jpg");
}
.main{
    text-align: center;
    padding:5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.app{
    padding:20%;
}
.main1{
    text-align: center;
    background-color: aquamarine;
    width:70%;
    margin: 3rem;
}